@charset "utf-8";

header,
main,
footer {
    min-height: 22vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 6rem;
}


h2 {
    margin-bottom: 2vh;
    padding: 1rem;
    color: #3D087B;
}

form {
    text-align: center;
}

form input,
form button {
    padding: .5rem;
    font-size: 3rem;
    border: none;
}

form button {
    color: #11052C;
    font-size: 3rem;
    background-color: transparent;
    cursor: pointer;
    transition: all .3s ease;
}

form button:hover {
    color: #3D087B;
}

.todoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todoList {
    min-width: 60%;
}

.todo {
    margin: 1rem;
    background-color: #fff;
    color: #11052C;
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo li {
    flex: 1;
}

.completeBtn,
.trashBtn {
    background-color: #11052C;
    color: #fff;
    border: none;
    padding: 1.5rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.completeBtn {
    background-color: #3D087B;
    /* background-color: #F43B86; */
}

.todoItem {
    padding: 0 .5rem;
}
