@charset "utf-8";

header,
main,
footer {
    min-height: 22vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 6rem;
}


h2 {
    margin-bottom: 2vh;
    padding: 1rem;
    text-align: center;
    color: #3D087B;
}

form {
    display: flex;
    text-align: center;
}

form input,
form button {
    padding: .5rem;
    font-size: 3rem;
    border: none;
}

form button {
    color: #11052C;
    font-size: 3rem;
    background-color: transparent;
    cursor: pointer;
    transition: all .3s ease;
}

form button:hover {
    color: #3D087B;
}

.todoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todoList {
    min-width: 65%;
    margin-right: auto;
}

.todo {
    margin: 1rem;
    background-color: #fff;
    color: #11052C;
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .5s ease;
}

.todo li {
    flex: 1;
}

.completeBtn,
.trashBtn {
    background-color: #11052C;
    color: #fff;
    border: none;
    padding: 1.5rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.completeBtn {
    background-color: #3D087B;
    /* background-color: #F43B86; */
}

.todoItem {
    padding: 0 .5rem;
}

.fa-check,
.fa-trash-alt {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: .5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}


select {
    appearance: none;
    outline: none;
    border: none;
}

.select {
    position: relative;
    margin: 1rem;
    overflow: hidden;
}

select {
    color: #11052C;
    width: 13rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    color: #fff;
    background-color: #11052C;
    pointer-events: none;
    transition: all .3s ease;
}

.select:hover::after {
    background-color: #3D087B;
}

footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    min-height: 10vh;
    font-size: 1.5rem;
}